* {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

:root {
  --verde: #297747;
  --naranja: #D84826;
  --amarillo: #CFB421;
  --negro: #1B1B1B;
  --blanco: #FEFEFE;
}

.gradiente-verde {
  background: #CFB421;
  background: linear-gradient(159deg,rgba(207, 180, 33, 1) 10%, rgba(41, 119, 71, 1) 61%);
}

.gradiente-naranja {
  background: #CFB421;
  background: linear-gradient(159deg,rgba(207, 180, 33, 1) 10%, rgba(216, 72, 38, 1) 62%);
}

body {
  background-color: var(--blanco);
  color: var(--negro);
  display: flex;
  overflow: clip;
}


@media screen and (min-width: 900px) {
body {
  flex-direction: row;
}
}

@media screen and (max-width: 900px) {
body {
  flex-direction: column;
}
}



a {
  color: var(--verde);
}

a:hover {
  color: var(--naranja);
}

p {
    font-size: clamp(rem, 1vw + 0.5rem, 1rem);
}

@font-face {
  font-family: "finger-paint";
  src: url(fonts/FingerPaint-Regular.ttf);
}

nav {
    border: 0px solid black;
    position: sticky;
    top: 0px;
    left: 0px;
}

.nav-desktop {
  min-height: 100%;
  width: 390px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 2em;
  gap: 1.5em;
}

.nav-desktop a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
  color: var(--negro);
  text-decoration: none;
}

.nav-desktop img {
  height: 40px;
}

nav a:hover {
  transform: scale(1.1);
}



#logo {
  margin-bottom: 2em;
  height: 6em;
}

#logo-mobile {
  height: 48px;
}


.nav-mobile {
  min-height: 80px;
  max-height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 2em;
}

.nav-mobile div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 18px;
}

.nav-mobile img {
  height: 28px;
}

aside {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1em;
  min-width: 200px;
}

#indice-contenidos {
  display: flex;
  margin-top: 180px;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1em;
  color: var(--negro);
  text-decoration: none;
  gap: 1em;
  font-weight: 500;
}

#indice-contenidos a {
  color: var(--negro);
  text-decoration: none;
}

#indice-contenidos a:hover {
  color: var(--naranja);
}

@media screen and (max-width: 900px) { 
  #footer-mobile {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--blanco);
  height: 54px;
  filter: drop-shadow(0px -1px 5px lightgrey);
}

#footer-mobile img {
  height: 28px;
}

#footer-mobile a:hover {
  transform: scale(1.1);
}


aside {
  display: none;
}

}
@media screen and (min-width: 900px) {
#footer-mobile {
  display: none;
}

.nav-desktop {
  display: flex;
}

.nav-mobile {
  display: none;
}
}

@media screen and (max-width: 900px) {
.nav-desktop {
  display: none;
}

.nav-mobile {
  display: flex;
}
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 100%;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background-color:var(--blanco);
  overflow-y: scroll;
}


@media screen and (min-width: 900px) {

#historias {
  position: sticky;
  top: 0px;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  overflow: scroll;
  scrollbar-width: none;
  height: 129px;
  min-height: 129px;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--blanco);
}

#historias a {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--negro)
}

#historias a:hover {
  transform: scale(1.1);
}

#historias img {
  height: 81px;
  width: 81px;
}
}


.galeria {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 0.2em;
  background-color: var(--blanco);
}

@media screen and (max-width: 900px) {

#historias {
  position: sticky;
  top: 0px;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  overflow: scroll;
  scrollbar-width: none;
  height: 70px;
  min-height: 70px;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 0.2em;
  background-color: var(--blanco);
  filter: drop-shadow(0px 1px 5px lightgrey);
}

#historias a {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--negro)
}

#historias a:hover {
  transform: scale(1.1);
}

#historias img {
  height: 59px;
  width: 59px;
}

#historias span {
  display: none;
}

}



.contenido {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 690px;
  min-height: 100%;
  overflow: auto;
  margin-bottom: 2em;
}

.contenido img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  margin: 1em 0px;
}

.contenido p {
  line-height: 1.5em;
  margin: 1em 0em;
}

.contenido h2 {
  line-height: 1.5em;
}

.contenido li {
  line-height: 1.5em;
  margin: 1em 1em 1em 1.5em;
}

.destacado {
  color: var(--blanco);
  width: 100%;
  text-align: center;
  padding: 2em;
  border-radius: 1em;

  font-weight: 600;
  font-size: large;
}

article {
  padding: 1em;
}

.anchor {
  scroll-margin-top: 18em;
}

audio {
    width: 95%;
    max-width: 900px;
    margin: auto;
}

.emoji {
  font-size: 3em;
}

#caja-subtitulos {
  position: fixed;
  bottom: 15%;
  max-width: 800px;
  min-width: 300px;
}

#subtitulos {
  background-color: #00000099;
  color: yellow;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
}

.espaciador {
  min-height: 8em;
}